* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header{
  background-color: #009999;
}

.NavLink{
  color: white !important;
}

.NavLink:hover{
  font-weight: bolder;
}

.subheading3{
  font-weight: .5rem;
  font-size: 22px;
}

.cd{
  color: #009999;
  font-size: 45px;  
}

.subheading{
  font-weight: bolder;
  font-size: 22px;
}

.headerButton{
  background-color:  #009999 !important;
  color: white;
}

.Jumbotron{
    background: url("./images/jumbo_bg1.png") no-repeat;
    /*height: 42rem;*/
    height: 41rem;
    outline: none;
    /*padding-bottom: 0;*/
    /*margin-bottom: 0;*/
}

.help-you{
  color: #009999 !important;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.headerProj{
  margin-left: 1px;
}

.smaller{
  font-size: 15px;
  font-weight: 300;
}

.side-info2{
  background-color: whitesmoke;
  border-radius: 1rem;
  margin: 5px;
}

.badge{
  margin-right: 5px;
}

a:hover{
  font-weight: bolder;
}

.imageSide{
  margin-top: 5px;
  margin-bottom: 5px;
}

.imageProject{
   /*border-radius: 1rem !important;*/
   border-radius: 1rem;
   height:100%;
}

.contact{
  /*max-height: 10%;*/
  max-width: 100%;
}

.contact-info{
  font-weight: lighter;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-details{
  margin: 0px;
  padding: 0px;
}

.contactLink:hover{
  color: gray;
  font-weight: bolder;
  text-decoration: none;
}

.end-text{
  /*padding-left: 21px;*/
  /*padding-right: 21px !important;*/
  color: #009999;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.pic-side{
    vertical-align: middle !important;
    text-align: center;
    margin: auto;
}

.your-pic{
    vertical-align: middle !important;
    text-align: center;
    margin-top: 115px;
}

.marketing{
  margin-top: 60px;
  min-height: 80vh;
}

.about-me-section{
  padding-left: 42px;
}

.christine-david{
  padding-top: 50px;
  color: #009999 !important;
}

.about-p{
  /*padding-top: 4px;*/
  font-size: 14px !important;
  padding-right: 5px;
}

.about-p strong{
  color: #476b6b !important;
}
/*NEW ABOVE*/

.courseTitle{
  font-size: 70px;
}

.coursePar{
  font-size: 20px;
}

.cardHighlight{
  min-height: 100%;
}

/*.App {
  text-align: center;
}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
